body .header{
    display: block;
    position: relative;
}
.gray-bg{
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: 60vh;
    display: flex;    
    align-items: center;
    .row{
        display: flex;
        justify-content: center;
        .box-order{
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 25px;
            background-color: #fff;
            overflow: hidden;
            .head{
                padding: 15px 20px 12px 25px;
                background-color: #454545;
                color: #fff;
                h3{
                    font-size: 18px;
                    font-size: 1.125rem;
                    margin: 0;
                    color: #fff;
                    font-weight: 500;
                }
            }
            .main{
                padding: 100px 75px;
                text-align: center;
                h3{
                    font-size: 1.75rem;
                }
                p{
                    margin-bottom: 20px;
                }
            }
        }
    }
}
